.header{
   background-image: linear-gradient(to right, rgb(2, 6, 11) , rgb(203, 206, 207));
    color: rgb(56, 9, 242);
    height: 100px;
    width: 100%;
 
}
h1{
    margin-left: 15px;
   padding-top:25px;
}

 .banner{
    height: auto;
    position: relative;
    width: 800px;
 }
 .banner img{
    width:100vw;
 height: 100vh;
 }
 .tagline{
    position: absolute;
    top: 5%;
    left: 2%;
    color: rgb(246, 206, 5);
    font-size: large;
 }
 .apiData{
   background-image: linear-gradient(to right, rgb(148, 158, 168) , rgb(18, 174, 222));
 }